html{
  font-size: 62.5%;
}
.container{
  margin: auto;
  text-align: center;
  font-size: 2rem;
}
.image{
  display: inline-block;
  width: 30rem;
  height: 30rem;
  border-radius: 50%;
 
}
input{
  margin: auto;
  padding: 1rem 3rem;
  display: block;
}